.footer{
    margin-top: 12rem;
    padding:4rem;
    background-color: rgb(31, 27, 27);
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
}
.footer-main{
    margin-top: 2rem;
    display: flex;
}
.footer-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    text-align: right;
}
.footer-social{
    display: flex;
    gap: 1rem;
}
.footer-social a{
    color: white;
    text-decoration: none;
}
.footer-social-icon{
    font-size: 2rem;
    cursor: pointer;
    transition: ease-in 0.2s;
}
.footer-social-icon:hover{
    transform: scale(1.2);
}
.footer-left p{
    width: 50%; 
}
.footer-mark{
    text-align: center;
    font-size: 0.6rem;
    /* align-self: flex-end; */
    margin-top: 3rem;
}
.footer-mark span{
    color: rgb(79, 28, 166);
    font-weight: 600;
}
@media(min-width:1300px){
    .footer-main{
        font-size: 1.5rem;
    }
    .footer .nav-logo{
        margin-bottom: 2rem;
    }
    .footer-social{
        gap: 3rem;
    }
    .footer-social-icon{
        font-size: 3rem;
    }
    .footer-right{
        gap: 3rem;
        align-items: center;
    }
}
@media(max-width:900px){
    .footer-left p{
        width: 80%;
    }
}
@media(max-width:600px){
    .footer{
        padding: 4rem 2rem ;
    }
    .footer-main{
        flex-direction: column;
        gap: 2rem;
    }
    .footer-left{
        width: 100%;
    }
    .footer-right{
        width: 100%;
        align-items: flex-start;
    }
    .footer-mark{
        text-align: start;
    }
}