.about{
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/svg/about_wave.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}
.about-main{
    margin-top: 1rem;
    display: flex;
}
.about-left{
    max-width: 50%;
    order: 1;
}
.about-left img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0 2rem 2rem 0;
}
.about-right{
    width: 50%;
    padding: 3rem 1.5rem 2rem 4.4rem;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem 0 0 2rem;

}
.about-right-description p{
    margin-top: 1rem;
}

