.about{
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/svg/about_wave.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    overflow-y: auto;
    height: 100vh;
}
.about::-webkit-scrollbar{
    display: none;
}
.about-main{
    margin-top: 1rem;
    display: flex;
}
.about-left{
    width: 50%;
    order: 1;
}
.about-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0 2rem 2rem 0;
}
.about-right{
    width: 50%;
    padding: 3rem 1.5rem 2rem 4.4rem;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem 0 0 2rem;

}
.about-right-description p{
    margin-top: 1rem;
}
@media(min-width:1300px){
    .about{
        padding: 0 10%;
    }
    .about-right{
        font-size: 1.5rem;
    }
}
@media(max-width:1080px){
    .about-right{
        padding-left: 2rem;
    }
}
@media(max-width:1000px){
    .about-right-description p{
        margin-top: 0;
    }
}
@media(max-width:900px){
    .about-right-description p{
        font-size: 0.9rem;
    }
}
@media(max-width:800px){
    .about{
        padding: 0 1rem;
    }
}
@media(max-width:750px){
    .about-main{
       flex-direction: column;
       gap: 0;
    }
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        padding: 1.5rem 2rem;
    }
    .about-left img{
        width: 100%;
        height: 15rem;
        border-radius: 0 0 2rem 2rem;
    }
    @media(max-width:600px){
        .about{
            margin-top: auto;
        }
    }
}

