.navbar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding: 0 4rem;
    background-color: transparent;
    z-index: 2;
}
.nav-logo{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: white;
}
.nav-logo h2{
    font-size: 1rem;
}
.nav-logo img{
    width: 2.5rem;
    height: 2.3rem;
}
.nav-elements{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 40rem;
    align-items: center;   
    font-weight: 550; 
    font-size: 0.9rem;
    animation: slideIn 0.5s ease-in-out;
}
.nav-elements a{
    color: #fff;
    cursor: pointer;
}
.nav-elements a{
    transition: 0.2s ease-in;
}

.nav-elements a:hover{
    transform: translateY(-3px);
}
.nav-menu-icon{
    display: none;
    font-size: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: white;
    transition: 0.3s ease-in;
    cursor: pointer;
    z-index: 99;
}
@media(min-width:1300px){
    .navbar{
        padding: 4rem 3%;
    }
    .navbar .nav-logo h2{
        font-size: 1.8rem;
    }
    .nav-btn{
        font-size: 1.2rem;
        padding: 1.5rem 3rem;
        border-radius: 2rem;
    }
}
@media(max-width:900px){
    .navbar{
        padding: 0 2rem;
    }
    .nav-menu-icon{
        display: block;
        z-index: 99;
    }
    .nav-elements{
        display: none;
        /* z-index: 11; */
    }
    .nav-elements-on{
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-top: auto;
        padding-top: 5rem;
        justify-content: flex-start;
        gap: 2rem;
        right: 0;
        background-color: rgb(224, 224, 224);
        background-color: transparent;
        backdrop-filter: blur(15px);
        position: absolute;
        top: 0;
        width: 45%;
    }
    .nav-menu-icon-on{
        transform: rotate(-90deg);
    }
}
@media(max-width:550px){
    .navbar{
        padding: 0 1rem;
    }
    .nav-elements{
        width: 70%;
    }
}

@keyframes slideIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}